.upmain:hover {
  scale: 1.005;
  transition: 0.3s;
}
.upc {
  width: 45vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.upctop {
  width: 26vw;
  height: 10vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.upctopprofilepic {
  width: 5.4vw;
  height: 4.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upctopprofilepicimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.upctopnameandsubtitle {
  width: 20vw;
  height: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.upctopname {
  font-size: larger;
  color: rgb(61, 75, 119);
}
.upctopsubtitle {
  font-size: 1rem;
  color: rgb(255, 255, 255);
}
.upcbottom {
  color: black;
  padding: 5px 12px;
}
.uppushcomment {
  width: 45vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.uppush {
  width: 22.3vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  align-items: center;
}
.upicon {
  color: rgb(125, 111, 100);
  margin-right: 10px;
  transition: 0.2s;
}
.upicon:hover {
  color: rgb(255, 0, 0);
}
.uppushtext {
  color: rgb(51, 48, 48);
  cursor: default;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 540;
}
.uppushtext:hover {
  color: green;
  cursor: pointer;
}
.uppush:hover {
  cursor: pointer;
  font-weight: 600;
}
.upcomment {
  width: 22.3vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.upcomment:hover {
  cursor: pointer;
}
.upcommenticon {
  margin-right: 10px;
}
.upcommenttext {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 540;
}
.upcommenttext:hover {
  color: rgb(12, 41, 184);
}
.commenticon {
  color: black;
}
.liked {
  color: red;
}
.LikedByPrompt {
  display: flex;
  justify-content: center;
  margin-top: 6vh;
}
.upcomments {
  margin-top: 6vh;
}
