.uc{
    width: 16vw;
    height: 16vh;
    background-color: inherit;
    color: blcak;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
}
.uc:hover{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    cursor: pointer;
}

.ucprofilename{
    width: 10vw;
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
}
.nameandmarksupportive{
    display: flex;
    flex-direction: column;
    height: 5vh;
    align-items: center;
    justify-content: center;
}
.marksupportive{
    font-size: .9rem;
    color: rgb(0, 8, 255);
    text-decoration: underline;
    cursor: pointer;             
    font-weight: bold;
}
.markunsupportive{
    font-size: .9rem;
    color: rgb(255, 25, 0);
    text-decoration: underline;
    cursor: pointer;             
    font-weight: bold;
}